<h1>いわーくと一緒に勉強会しよー！</h1>
<p>なんてテキトーなサイトなんだ・・・（驚愕</p>
<p>暇になったら整えるかもしれない予定。それか誰かやって。</p>
<hr>
<h2>大体こんな感じの方向性</h2>

<p>対象：<strong>ITの世界でプロになることを視野に入れている人</strong>（主にプログラマ）</p>

<h3>内容</h3>

<div>
	①プログラマに限らず知っておいた方が良いなぁと思うこと。
	<p>プログラミング基礎、共同開発スキル、MVCパターンについて</p>
</div>
<div>
	②プログラミングもう少し深く
	<p>Objective-C(iPhone)、Ruby on RailsまたはNode.js(Web App)、その他</p>
</div>

<hr>

<%= render 'devise/registrations/new' %>

<hr>

<%= render 'devise/sessions/new' %>


