/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

hr{
	text-align:left;
	margin-left:0px;
	max-width: 600px;
}

.label{
 	clear: both;
 	width:200px;
}
.field{
 	float: left;
}
.register{
	padding-top:10px;
	padding-bottom:10px;
	clear: both;
}
.email{
	float: left;
}
.password{
	float: left;
}
.remember_me{
	clear: both;
}
.login{
	width: 200px;
	height: 88px;
}
.login input{
	font-size: 18px;
	padding:5px 40px;
	background-color: gray;
	color:white;
}