<%= render 'members/summary' %>
<% if !current_user.meetings.find(@meeting) %>
<%= form_tag('participate', :method => :post) do %>
  <fieldset>
  	<legend><b>勉強会・参加申請フォーム</b></legend>
  	<div class="register"><%= submit_tag "とりあえず参加しとくかね" %></div>
	</fieldset>
<% end %>
<% else %>
<div>この勉強会には既に参加申請済みです！</div>
<% end %>