<%= render 'members/summary' %>

<%# link_to '今回の資料', url_for('/assets/1.pdf') %>

<% if !current_user.meetings.find_by(id:@meeting.id) %>
<%= form_tag('participate', :method => :post) do %>
  <fieldset>
  	<legend><b>勉強会・参加申請フォーム</b></legend>
  	<div class="register"><%= submit_tag "とりあえず参加しとくかね" %></div>
	</fieldset>
<% end %>
<% else %>
<div>この勉強会には既に参加申請済みです！</div>
<% end %>